body {
    background: url("https://gitee.com/LiuXiahong86/Figure-bed/raw/master/img/Blog_background/background_1.jpg") no-repeat center fixed;
    opacity: 0.8;
}
::selection {
    background: #00c4b6;
    color: #f7f7f7;
}
/* ********************************************** */
img.cover{
    border-radius: 20px;
}
h2.post-title{
    margin-top: 10px;
    margin-bottom: 10px;
}
/* ********************************************** */
.headband{
    height: 0px;
} 
/* ********************************************** */

.post-body p a {
    color: #49b1f5;
    border-bottom: none;
}

.post-body p a:hover {
    color: #fc6423;
    border-bottom: none;
}

.post-toc .nav .active > a {
    /* border-bottom-color: #fc6423; */
    color: #fc6423;
}

a, span.exturl {
    border-bottom: 0px;
}

.sidebar-inner, .btn, .comments, .post-content,.post-block ,.header-inner{
    border-radius: 20px !important;
}
/* ************************************************************************* */
.btn {
    color: #49b1f5;
    border: 2px solid #49b1f5;
}
.btn:hover {
    border-color: #49b1f5;
    color: #fff;
    background: #49b1f5;
}
.posts-expand .post-title-link::before {
    background-color: #49b1f5;
}

.site-brand-container {
    padding: 20px 0;
    background: #49b1f5;
}
/* ************************************************************************* */
.footer{
    opacity: 0.5!important;
    margin-top: 25px;
    background-color: black;
}

/* *************************************************** */
.post-meta{
    margin: 10px 0px;
}
.post-cover h2 a,.post-cover h1{
    color:#fff!important;
}
/* ************************************************************************* */
.tag-cloud-tags a,.post-tags a,span.post-meta-item {
    border-radius: 20px;
    padding: 5px 18px;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 10px;
    text-decoration: none;
}
.tag-cloud-tags a:nth-child(7n+1),.post-tags a:nth-child(7n+1),.post-meta span.post-meta-item:nth-child(7n+1){
    background-color: #49b1f526;
    color: #49b1f5;
}
.post-meta span.post-meta-item:nth-child(7n+1) span a{
    color:#49b1f5;
}

.tag-cloud-tags a:nth-child(7n+2),.post-tags a:nth-child(7n+2),.post-meta span.post-meta-item:nth-child(7n+2){
    background-color: #ff761e26;
    color: #ff761e;
}
.post-meta span.post-meta-item:nth-child(7n+2) span a{
    color:#ff761e;
}

.tag-cloud-tags a:nth-child(7n+3),.post-tags a:nth-child(7n+3),.post-meta span.post-meta-item:nth-child(7n+3) {
    background-color: #ffb90026;
    color: #ffb900;
}
.post-meta span.post-meta-item:nth-child(7n+3) span a{
    color:#ffb900;
}

.tag-cloud-tags a:nth-child(7n+4),.post-tags a:nth-child(7n+4),.post-meta span.post-meta-item:nth-child(7n+4) {
    background-color: #33d57a26;
    color: #33d57a;
}
.post-meta span.post-meta-item:nth-child(7n+4) span a{
    color:#33d57a;
}
.tag-cloud-tags a:nth-child(7n+5),.post-tags a:nth-child(7n+5),.post-meta span.post-meta-item:nth-child(7n+5) {
    background-color: #00dbff26;
    color: #00dbff;
}
.post-meta span.post-meta-item:nth-child(7n+5) span a{
    color:#00dbff;
}
.tag-cloud-tags a:nth-child(7n+6),.post-tags a:nth-child(7n+6),.post-meta span.post-meta-item:nth-child(7n+6) {
    background-color: #ff4e6a26;
    color: #ff4e6a;
}
.post-meta span.post-meta-item:nth-child(7n+6) span a{
    color:#ff4e6a;
}
.tag-cloud-tags a:nth-child(7n+7),.post-tags a:nth-child(7n+7),.post-meta span.post-meta-item:nth-child(7n+7) {
    background-color: #9090ff26;
    color: #9090ff;
}
.post-meta span.post-meta-item:nth-child(7n+7) span a{
    color:#9090ff;
}